János Euler <janos-conrad.euler@informatik.hs-fulda.de> <janos.euler@gmail.com> 
János Euler <janos-conrad.euler@informatik.hs-fulda.de> <42710663+Mac10goesBRRRT@users.noreply.github.com>
János Euler <janos-conrad.euler@informatik.hs-fulda.de> Mac10goesBRRRT <janos-conrad.euler@informatik.hs-fulda.de>
Ronja Awe <ronja.awe@informatik.hs-fulda.de> RonjaAwe <122366578+RonjaAwe@users.noreply.github.com>
Kai Kehres <kai-lukas.kehres@informatik.hs-fulda.de> Albtraumbaum <118673879+Albtraumbaum@users.noreply.github.com>